body {
    background-color: #f7dff4;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    text-align: left;
    padding: 0.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border-radius: 1.875rem;
    box-shadow: 0 0 0.625rem 0 #00000080;
}

.inline {
    padding: 0.125rem;
    margin: 0.125rem;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.625rem;
    align-items: stretch;
}

.flex-box.inline {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0.3125rem;
    margin-left: 0.6875rem;
    margin-right: 0.6875rem;
}

.flex-box.container {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.flex-item {
    background-clip: padding-box;
}

.flex-item.container {
    margin: 0.625rem;
    flex: 0 1 50%;
}

.flex-item.inline {
    margin: 0.3125rem;
    padding: 0.125rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
}

.flex-item.inline.badge {
    margin: 0.125rem;
    padding: 0.125rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.1875rem;
    margin-right: 0.1875rem;
}

.flex-box.inline.container {
    flex-wrap: nowrap;
    flex: 0 0 auto;
}

@media (max-width: 45rem) {
    .flex-box {
        flex-direction: column;
    }
}

h1 {
    color: black;
    text-align: center;
    font-family: 'jetbrains mono', monospace;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'jetbrains mono', monospace;
}

h3 {
    color: black;
    text-align: left;
    font-family: 'jetbrains mono', monospace;
    margin: 1rem;
}

p {
    margin: 1rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: #f7dff4;
}

a:active {
    text-decoration: none;
    scale: 90%;
}

.palette-prog {
    color: black;
    text-align: left;
    font-family: 'jetbrains mono', monospace;
    margin: 1rem;
    background-color: #5248c7;
}

.palette-magic {
    color: black;
    text-align: left;
    font-family: 'jetbrains mono', monospace;
    margin: 1rem;
    background-color: #c7486c;
}

.palette-blended {
    color: black;
    text-align: left;
    font-family: 'jetbrains mono', monospace;
    margin: 1rem;
    background-color: #8b48c7;
}

.palette-background {
    color: black;
    text-align: left;
    font-family: 'jetbrains mono', monospace;
    margin: 1rem;
    background-color: #f7dff4;
}
